
/* variables */
:root{
  --primary-color: #eaa023;
  --secondary-color: #0c1023;
  --shade: #191f3a;
  --silver: rgb(229, 231, 231);
  --white: #fff;
  --light-color: #c8c8c8;
  --shadow: 0 0 15px rgba(0,0,0,0.25);
  scroll-behavior: smooth;
}
/* Globals */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
::before,
::after{
  box-sizing: border-box;
}
.jcb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.min-vh-100{
  min-height: 100vh;
}
.btn{
  display: inline-block;
  padding: 10px 40px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  color: var(--white);
  line-height: 1.5;
  user-select: none;
  border: 2px solid var(--primary-color);
  transition: all .3s ease;
}
.btn:hover{
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

@keyframes zoomInOut {
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
}

body{
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  color: var(--white);
}
img{
  vertical-align: middle;
  max-width: 100%;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
h1{
  font-weight: 700;
  color: var(--silver);
}
h2{
  font-weight: 600;
  color: var(--silver);
}
h3, h4, h5, h6{
  font-weight: 500;
  color: var(--silver);
}
.container{
  max-width: 1180px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.hd{
  padding: 12px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}
.hd::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  /* box-shadow: var(--shadow); */
  z-index: -1;
  transition: transform .5s ease ;
  transform: translateY(-100%);
}
.hd.sticky::before{
  transform: translateY(0%);
}
.hd .logo{
  min-height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.hd .nav-toggler{
  background-color: transparent;
  height: 34px;
  width: 44px;
  margin-right: 16px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hd .nav-toggler.active{
  position: absolute;
  z-index: 1;
  right: 10px;
}
.hd .nav-toggler span{
  height: 2px;
  width: 32px;
  display: block;
  background-color: var(--white);
  position: relative;
}
.hd .nav-toggler.active span{
  background-color: transparent;
  transition: background-color 0.5s ease;

}
.hd .nav-toggler span::before,
.hd .nav-toggler span::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
}
.hd .nav-toggler span::before{
  transform: translateY(-8px);
}
.hd .nav-toggler.active span::before{
  transform: rotate(45deg);
  transition: transform .5s ease;
}
.hd .nav-toggler span::after{
  transform: translateY(8px);
}
.hd .nav-toggler.active span::after{
  transform: rotate(-45deg);
  transition: transform .5s ease;
}
.hd .nav{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 280px;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  overflow-y: auto;
  padding: 90px 0 40px;
  transition: transform .5s ease;
  transform: translate(100%);
}
.hd .nav.open{
  transform: translate(0%); 
}
.hd .nav ul li a{
  display: block;
  font-size: 24px;
  color: var(--white);
  padding: 10px 30px;
  text-transform: capitalize;
  transition: color .3s ease;
}
.hd .nav ul li a:hover{
  color: var(--secondary-color);
}
.hd .nav ul li:hover{
  background-color: var(--light-color);
}
.home{
  position: relative;
  overflow: hidden;
}
.home::before{
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #191f3a;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}
.home .hero{
  background-image: url('../img/hero1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  animation: zoomInOut 10s ease infinite;
}
.home .min-vh-100{
  padding: 100px 0;
}
.h-text{
  padding: 0 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.h-text h1{
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 75px;
  margin: 0 0 5px;
}
.h-text p{
  /* font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 75px; */
  margin: 0 0 30px;
}
